@model IEnumerable<TheGlobe.Models.Trip> 
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to The Globe</h1>
        <p>This app will allow you to plan for trips around the globe</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>
</div>