
@if (User.Identity.IsAuthenticated)
{
    <span>Hello, @User.Identity.Name</span>
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input type="submit" value="Logout" class="btn btn-default" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Register" class="btn btn-default">Register</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-default">Login</a>
}