body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
    font-size: 12px;
}

/* Bootstrap Overrides */
.navbar-brand {
    font-weight: 700
}

.navbar-inverse {
    background-color: #03A9F4;
    border-color: #03A9F4;
}

.navbar-inverse .navbar-toggle {
    border-color: #03A9F4;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #03A9F4;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0288D1;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #03A9F4;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu .divider {
    background-color: #E9E9E9;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 4px 12px;
    height: 40px;
}

.form-control:focus {
    border-color: #0288D1;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.btn {
    /* padding: 8px 20px; */
    border-radius: 4px;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
}

/* Page-level styles */

.meetups {
    list-style: none;
}

.meetups > li {
    position: relative;
    margin-bottom: 30px;
}

.meetups > li .date {
    background: #0288D1;
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.meetups > li .date .year {
    font-weight: bold;
    font-size: 14px;
    padding: 6px 6px;
}

.meetups > li .date .month {
    text-transform: uppercase;
    background: #F7F7F7;
    color: #333333;
    font-size: 14px;
    padding: 6px 10px 0px 10px;
}

.meetups > li .date .day {
    background: #F7F7F7;
    color: #333333;
    font-size: 14px;
    padding: 0px 10px 6px 10px;
}

.meetups > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.meetups > li .details .title {
    font-weight: bold;
    display: block;
}

.meetups > li .details .group {
    display: block;
}

.meetups > li .details .category {
    display: block;
    font-style: italic;
    font-size: 16px;
}















