@model IEnumerable<MeetHub.Models.Meetup>

@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var meetup in Model)
    {
        <li>
            @meetup.DateTime - @meetup.Group.UserName
        </li>
    }
</ul>