@using FoodiesCore.Controllers
@model FoodiesCore.Entities.Restaurant



<h1>@Model.Name</h1>

<div>
    <p>Details</p>
</div>

<div>
    Id: @Model.Id
</div>

<div>
    Cuisine: @Model.Cuisine
</div>

<div>
    @Html.ActionLink("Home", nameof(HomeController.Index))
</div>
