@using FoodiesCore.Controllers
@model FoodiesCore.Entities.Restaurant

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div>
    <p>Details</p>
</div>

<div>
    Id: @Model.Id
</div>

<div>
    Cuisine: @Model.Cuisine
</div>

<div>
    <p>
        @*@Html.ActionLink("Home", nameof(HomeController.Index))*@
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
    </p>

</div>
