@model Restaurant

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<div>
    <h1>Edit @Model.Name</h1>
    
    <div asp-validation-summary="ModelOnly">
        <form method="post" asp-antiforgery="true">
            <span hidden="@Model.Id"></span>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="Cuisine"></label>
                <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))">
                </select>
                <span asp-validation-for="Cuisine"></span>
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>

    </div>
    
    <div>
        <p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
        </p>
    </div>
</div>
