@model FoodiesCore.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

<div>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@restaurant.Id">Detail</a>
                    <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <p>
        <a asp-action="Create">Create a Restaurant</a>
    </p>
</div>

@section footer {
    <h3>@Model.CurrentMessage</h3>
}

