@model FoodiesCore.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

<div>
    <p>
        <a asp-action="Create">Create a Restaurant</a>
    </p>
</div>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

@section footer {
    <h3>@Model.CurrentMessage</h3>
}

