@model IEnumerable<FoodiesCore.Entities.Restaurant>

<html>
<head>
    <title>FoodiesCore</title>    
</head>
<body>
    <h1>Welcome!</h1>
    
    <table>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
</body>
</html>
