@model FoodiesCore.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

<div>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create a Restaurant</a>
    </p>
</div>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}


